@font-face {
	font-family: 'Conv_ZOMBIES REBORN';
	src: url('../fonts/ZOMBIES REBORN.eot');
	src: local('☺'), url('../fonts/ZOMBIES REBORN.woff') format('woff'), url('../fonts/ZOMBIES REBORN.ttf') format('truetype'), url('../fonts/ZOMBIES REBORN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

