
div {border-color: black;
}

header {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: larger; 
	padding: 5px;
}

body{
	background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(249,249,249,1) 49%, rgba(0,0,0,1) 100%);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 {color: #ffffff;
	background: rgb(54,54,54);
	background: radial-gradient(circle, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 43%);
	padding: 20px;
}

p {
	color: #ffffff;
}

footer {font-family: 'Oswald', sans-serif;
	font-weight: 700;
	}

main { background-color: #ffffff;
}

a { text-decoration: none;
}

nav { margin-top: 5px;
	padding: 5px;
	background: rgb(54,54,54);
	background: radial-gradient(circle, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 44%);
}

ul { list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul li { display: inline-block;
		padding: 10px;		 
}


.container {background: #363636; 
	        width: 1920px;
			height: auto;
			margin: 0 auto;
			
}

.menu a { color: #ffffff;
}

.menu a:hover { color: #363636;
			transition-duration: 0.3s;
 }

 .menu i:hover { color: #000000;
			transition-duration: 0.3s;
 }

.imgtxt{
	position: relative;
	text-align: center;
	color: #ffffff;
}

.top-left{
	position: absolute;
	top: 10px;
	left: 20px;
	font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.top-left:hover {
	font-family: 'Condiment', cursive;
	font-weight: 400;
	color: #ffffff;
	transition-duration: 0.3s;
}

.bottom-right {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.bottom-right:hover {
	font-family: 'Condiment', cursive;
	font-weight: 400;
	color: #ffffff;
	transition-duration: 0.3s;
}

.bottom { text-align: center;
		color: #ffffff;
		background-color: #000000;
		position: relative;
		margin-top: auto;
		clear: both;
}

i {color:white;
margin-left: 5px;
margin-right:5px;
}

.pcont {
	width: 800px;
	height: auto;
	margin: 0 auto;

}
