body {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff670f+0,ff670f+100;Orange+Flat+%231 */
background: #ff670f; /* Old browsers */
background: -moz-linear-gradient(left,  #ff670f 0%, #ff670f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ff670f 0%,#ff670f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff670f 0%,#ff670f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=1 ); /* IE6-9 */

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

main {
	background-color: #ffffff;
}

header {
	padding: 10px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Raggruppare i selettori */
h1 {
	font-family: 'Conv_ZOMBIES REBORN';
	font-size: 2em;
}



.pippo {
	color: green;
}

p.pippo {
	color: red;
}


a:hover {
	text-decoration: none;
}

nav {
	margin-top: 5px;
	padding: 10px 15px;
	background-color: #111;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


@media print {

	p {
		color: #fff;
		
	}


	h1 {
		color: red;
	}
}
/* SELETTORI DI DISCENDENTI */

.menu {
	color: #fff;
}

.menu  li {
	display: inline-block;
	padding: 0 5px;
}

/* La voce di menu a riposo */
.menu li a {
	color: #fff;
}

/* La voce di menu al passaggio del mouse */
.menu li a:hover {
	color: #ff6600;
}

.contenitore {
	width: 1024px;
	margin: 0 auto;
}

@media only screen 
  and (min-width: 365px) 
  and (max-width: 667px) {
	.contenitore {
		width:350px;
	}
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px)  {
	.contenitore {
		width:740px;
	}
}

.text-red {
	color: red;
}

#lightgallery img {
	width: 150px;
}

.itemSlider {
	background-size: cover;
	background-position:  center center;
	height: 450px;
}

/* MASONRY */

.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
.grid-item--width3 {width:75%;}
.grid-item img {
	width: 100%;
}
.principale {
	
	/* IDENTIFICO LA CLASSE CON IL . */

	padding: 0 15px;
}

#principale {
	/* IDENTIFICO L'ID CON IL # */
}

.table {
	width: 50%;
}

.table th {
    text-align: left;
    background: #333;
    color: #fff;
    padding: 5px;
}

.table td {
	border: 1px solid #ff0;
	padding: 5px;
}



.form {
	background-color: #ccc;
	padding: 15px;
	margin: 30px 0;
}

/* Pseudo classe focus */
input:focus {
	background-color: yellow;
	color: black;
}
input::placeholder {
	color: red;
}

.topolino h2 {
	position: relative;

}

.topolino h2:after{
	content: "";
	display: block;
	height: 5px;
	background-color: green;
	width: 50px;
	transition: all 0.3s ease-in;
}

.topolino h2:hover:after {
	transform: rotate(-24deg);
}


.flex {
	/*
		display: block;
		display: inline;
		display: inline-block;
	 */

	display: flex;
	margin-bottom: 15px;

}

.esempioMargin, .esempioPadding {
	background-color: red;
	padding: 15px;
	margin: 5px;
}




footer {
	background-color: #999;
	padding: 15px;
	color: #f9f9f9;
	text-align: center;
	font-size: 12px;
}

footer .cuore {
	color: #ff0000;
}


footer .caffe {
	color: #624a2e;
}
